body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
}
.left-side, .right-side {
    flex: 1;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #f0f2f5;
}
.left-content{
    text-align: left;
    margin: 100px;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login-box{
    border-radius: 8px;
    width: 360px;
    text-align: center;
}
.login-box input, .login-box button, .Create-box{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.login-box input{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-box button{
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 6px 0;
}
.login-box button:hover{
    background-color: #165eab;
}
a{
    text-decoration: none;
}
.links{
    margin-top: 10px;
}
.links a{
    font-size: 15px;
    display: block;
    color: #1877f2;
    margin: 10px 0;
}
.create-box {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0bb446;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin: 6px 0;
}

.links a:hover {
    text-decoration: none;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
    text-align: center;
}
.create-box:hover {
    background-color: #09963a;
}
.footer{
    text-align: center;
    margin-top: 20px;
}
.ptth {
    text-align: center;
}