*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;  
    align-items: center;
}

.main_content {
    display: flex;  
    flex: 1;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    max-width: 1200px; 
    justify-content: center; 
    align-items: center;               
    height: auto;            
}

.top, .bot{
    text-align: center;
    color: #555555;
    padding: 10px;
    font-size: 19px;
}
.top{
    margin-top: 10px;
    width: 100%;
    padding: 5px 0;
}

.bot{
    margin-bottom: 10px;
    width:100%;
    padding: 5px 0;
}
.meta-logo {
    display: flex;
    justify-content: center;
}

.meta-logo img {
    max-width: 90px; 
    height: auto; 
    margin: 20px 0; 
    align-items:center
}
.bot a{
    color:#787878;
    margin: 0 5px;
}

.left img{
    max-width: 150px;
    height: auto;
}

.left, .right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    justify-content: left;
}

.right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right input, .right button, .create_box{
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}
form input{
    padding: 18px;
    margin: 8px 0;
    border: 3px solid #e5e4e4;
    border-radius: 10px;
}

form button{
    padding: 15px;
    background-color: #1876f3;
    color: white;
    border: none;
    border-radius: 30px;
    margin: 8px 0 20px 0;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: #10478f;
}

a{
    text-decoration: none;
}

.links a{
    display: block;
    color: #000000;
    font-size: 17px;
    margin-bottom: 25px;
}
.create_box{
    text-align: center;
    display: block;
    padding: 12px;
    border: 2px solid #4793f7;
    border-radius: 30px;
    color: #1876f3;
    cursor: pointer;
}

.links a:hover{
    text-decoration: underline;
}

@media(max-width: 768px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .main_content{
        flex-direction: column;
        align-items: center;
    }
    .top{
        margin: 10px 0 30px 0;
    }
    .left img{
        max-width: 100px;
        height: auto;
        margin: 20px 0
    }
    .left {
        justify-content: center;
    }
    .create_box{
        margin-top: 100px;
    }
    .bot{
        margin: 30px 0 10px 0; 
    }
}
